<div id="<%= dom_id api_key %>">
  <p>
    <strong>Name:</strong>
    <%= api_key.name %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= api_key.client_id %>
  </p>

  <p>
    <strong>Client secret:</strong>
    <%= api_key.client_secret %>
  </p>

</div>
